* {
  padding: 0;
  margin: 0;

}
nav{
background-color:palevioletred;
height: 50px;
padding-top: 10px;
}
nav ul{
  height: 50px;
  width: 450px;
  margin: 0 auto;
}

nav ul li{
  list-style: none;
  width: 110px;
  float: left;
  text-align: center;
}

a{
  text-decoration: none;
  color:pink;
  font-size: larger;

}

a:hover{
  background-color:palevioletred;
  color:lightpink;
}


section{
  display: inline-flex;
  
}
img{
  width: 50%;
  border-radius: 15px;
}
section {
  display: flex;
  gap: 15px;
  width : 90%;
  margin: 0 auto;
}
section img:hover{
  opacity: 1;
  display: block;
  color: black;
  width: 55%;
  height: 110%;
  transition: .5s ease;
  box-shadow: 10px 8px 10px 10px rgba(255, 192, 203, 0.40);
}
/* img{
} */

h1{
  text-align: center;
  /* display: flex; */
  color: palevioletred;
  margin: 20px auto;
}

form{
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
}

input,
select,
textarea {
 padding: 1.4rem;
 background: pink;
 border: 1px solid black;
 border-radius: 10px;
}

textarea{
  height: 6rem;

}

button{
  width: 8rem;
  padding: 1.4rem;
  cursor: pointer;
  background: palevioletred;
  color:white;
  border-radius: 15px;
}

form {
   margin-top: 20px;
  border: 2px solid pink;
  padding: 50px;
  border-radius: 25px;
}
